@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.row div{padding-top: 50px;}


#vinculo {
text-decoration: solid;
color: rgba(0, 0, 0, 0.599);
word-spacing: 10px;

    }


#vinculo:hover {
    color: rgba(42, 42, 42, 0.838);
    

}

#MP {
    font-size: 100px;
    transition-property: all;
    transition-duration: 2s;


}

#MP:hover {
    font-size: 110px;
    color: rgb(61, 61, 61)

}

#ID {
    font-size: 30px;
    transition-property: all;
    transition-duration: 2s;



}

#ID:hover {
    font-size: 35px;
    color: rgb(83,83, 83)

}

#IMG {
    transition-property:color;
        transition-timing-function: ease-in;
    }
    #IMG:hover {
        
        filter:contrast(60%);
        
        }


main {
    background-color: rgb(255, 255, 255);
}

.img {
    align-items:  center;
    
}

body {
    background-color: black;
color: rgb(26, 26, 26);

} 

h1 {
    text-align: center;
font-family: Bebas Neue;
padding-bottom: 0px;

}

h2 {
    text-align: center;
    font-family: Bebas Neue;
    padding-top: 20px;
}

#ID:hover {
    color: rgb(83, 83, 83);
}


p {
    text-align: center;
    animation-name: move;
    animation-delay: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in;
    
}

nav {
     text-align: center;
     
}

h3 {
    font-family:Bebas Neue ;
    padding-top: 20px;

}


form{
    width: 100%;
    font-family: Bebas Neue;
    
    
}
input, textarea {

    width: 100%;
    height: 30px;
    display:block;
    margin-bottom: 10px;
    background-color: #efefef;
    
}

button {
    color: #ffffff;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    
    
}

#Button {
    margin-top: 10px;
}

#video {
    margin-top: 30px;
}

@keyframes move {
    from {color: #ffffff;}
    to {color: #000000b4;}
    }

